
body {
  background-color: #192444;
  margin: 0;
}

#aggrandir_button1,#aggrandir_button2,#aggrandir_button3,#aggrandir_button4,#afficher_button{
  background-color: teal;
  border-radius: 10px;

  color: white;

}
#aggrandir_button1:hover,#aggrandir_button2:hover,#aggrandir_button3:hover,#aggrandir_button4:hover ,#afficher_button:hover{
  background-color: #0fa0ce;
  color: white;
}
#title1 {
  /* text-align: center; */
  color: rgb(205, 113, 43);
}

#title2 {
  text-align: center;
}

#title3 {
  text-align: center;
}

/* .button_style  {
  background-color: 'rgba(0, 0, 0, 0)';
  border: 1px solid #008CBA;
  color: #008CBA;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor : pointer;
  border-radius : 4px;
  transition-duration : 0.4s
}

.button_hover_style {
  background-color: #008CBA;
  color: white
} */
/* styles.css */

.my-button {
  background-color: #4caf50; /* Couleur de fond du bouton */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease; /* Transition de la couleur de fond */
}

.my-button:hover {
  background-color: #45a049; /* Changement de couleur au survol */
}

/* Exemple d'animation */
.my-button {
  animation: scale 0.5s ease infinite alternate; /* Animation de rétrécissement et d'agrandissement */
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.create_container2 {
  align-items: center;
  border-radius: 15px;
  background-color: #1f2c56;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 5px;
  padding: 8px;
  position: relative;
  box-shadow: 1px 1px 1px 1px #566db7;
}

.dcc_compon {
  margin-left: 20px;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

.flex-display {
  display: flex;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

.rc-slider-track {
  background-color: red;
}

.rc-slider-dot-active {
  border-color: red;
  border: solid 2px red;
} 

.rc-slider-handle {
  background-color: red;
  border-color: red;
}

.rc.slider-handle:hover {
  border-color: red;
}

.rc.slider-handle-active:active {
  border-color: red;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2c56 !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}




